<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Billing Table</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
        <li class="store-header">Hospital Admin Console</li>
        <!-- <a href="/">Home</a> -->
        <div class="dropdown">
          <button class="dropbtn">
              Forms
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/patient">Patient Registration</a>
            <a href="/nurse">Nurse Registration</a>
            <a href="/doctor">Doctor Registration</a>
            <a href="/prescription">Prescription Form</a>
            <a href="/appointment">Appointment Form</a>
            <a href="/payment">Payment Form</a>
          </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                Display Information
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/allPatients">View All Patients</a>
              <a href="/allNurses">View All Nurses</a>
              <a href="/allDoctors">View All Doctors</a>
              <a href="/allPrescriptions">View All Prescriptions</a>
              <a href="/allAppointments">View All Appointments</a>
              <a href="/allBillings">View All Billings</a>
            </div>
        </div>
    </div>
    <div class="doctor-table">
        <h3 style="text-align:center;">List of Billings</h3>
        <div th:if="${ not#lists.isEmpty(billingList)}">
          <table>
            <tr>
              <th>Billing Id</th>
              <th>Patient Id</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Credit Card Number</th>
            </tr>
            <tr th:each="billing : ${billingList}">
              <td th:text="${billing.billingId}"></td>
              <td th:text="${billing.patientId}"></td>
              <td th:text="${billing.date}"></td>
              <td th:text="${billing.amount}"></td>
              <td th:text="Confidential"></td>
            </tr>
          <table>
        </div>
    </div>
  </body>
</html>
