<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Prescription Table</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
        <li class="store-header">Hospital Admin Console</li>
        <!-- <a href="/">Home</a> -->
        <div class="dropdown">
            <button class="dropbtn">
                Forms
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/patient">Patient Registration</a>
              <a href="/nurse">Nurse Registration</a>
              <a href="/doctor">Doctor Registration</a>
              <a href="/prescription">Prescription Form</a>
              <a href="/appointment">Appointment Form</a>
            </div>
          </div>
          <div class="dropdown">
              <button class="dropbtn">
                  Display Information
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/allPatients">View All Patients</a>
                <a href="/allNurses">View All Nurses</a>
                <a href="/allDoctors">View All Doctors</a>
                <a href="/allPrescriptions">View All Prescriptions</a>
                <a href="/allAppointments">View All Appointments</a>
              </div>
          </div>
    </div>
    <div class="doctor-table">
        <h3 style="text-align:center;">List of Prescriptions</h3>
        <div th:if="${ not#lists.isEmpty(prescriptionList)}">
          <table>
            <tr>
              <th>Prescription Id</th>
              <th>Medicine Name</th>
              <th>Quantitye</th>
              <th>Intake</th>
              <th>Frequency</th>
              <th>Date</th>
              <th>Doctor Id</th>
              <th>Patient Id</th>
            </tr>
            <tr th:each="prescription : ${prescriptionList}">
              <td th:text="${prescription.prescriptionId}"></td>
              <td th:text="${prescription.name}"></td>
              <td th:text="${prescription.quantity}"></td>
              <td th:text="${prescription.intake}"></td>
              <td th:text="${prescription.frequency}"></td>
              <td th:text="${prescription.date}"></td>
              <td th:text="${prescription.doctorId}"></td>
              <td th:text="${prescription.patientId}"></td>
            </tr>
          <table>
        </div>
    </div>
  </body>
</html>
